#!/bin/bash
# Unlocking vault
key1=$(cat /usr/local/bin/keys | grep "Key 1" | awk '{print $4}')
key2=$(cat /usr/local/bin/keys | grep "Key 2" | awk '{print $4}')
key3=$(cat /usr/local/bin/keys | grep "Key 3" | awk '{print $4}')
key4=$(cat /usr/local/bin/keys | grep "Key 4" | awk '{print $4}')
key5=$(cat /usr/local/bin/keys | grep "Key 5" | awk '{print $4}')
VAULT_TOKEN=$(cat /usr/local/bin/keys | grep "Root" | awk '{print $4}')
VAULT_SKIP_VERIFY=1
VAULT_ADDR="https://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:8200"
export VAULT_SKIP_VERIFY VAULT_ADDR VAULT_TOKEN
printf "VAULT_TOKEN=$VAULT_TOKEN\nVAULT_SKIP_VERIFY=1\nVAULT_ADDR=$VAULT_ADDR\n" >> .bash_profile
printf "export VAULT_SKIP_VERIFY VAULT_ADDR VAULT_TOKEN\n">> .bash_profile
echo $VAULT_TOKEN > /tmp/token
for vkey in $key1 $key2 $key3
do
  eval curl -kX PUT -d \'{\"key\": \"$vkey\"}\' https://vault.localdomain:8200/v1/sys/unseal
done
